<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>通话记录</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <table class="table">
                <thead>
                <tr>
                    <th>姓名</th><th>电话</th><th>通话日期:年</th><th>通话日期:月</th><th>通话次数</th><th>通话时长</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${callLogList}">
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.telephone}"></td>
                    <td th:text="${user.year}"></td>
                    <td th:text="${user.month}"></td>
                    <td th:text="${user.sum}"></td>
                    <td th:text="${user.duration}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="jquery-1.7.2.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>