<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询联系人</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <table class="table">
                    <thead>
                    <tr>
                        <th> 编号</th><th>姓名</th><th>电话</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user:${contacts}" th:class="${userStat.odd}? 'info'">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.telephone}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="jquery-1.7.2.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>